{% extends "_layouts/cp" %}

{% set title = craft.tagManager.getPluginName %}
{% set tags = craft.tagManager.getTags %}

{% set content %}
    <h2 class="left">Tags currently in use</h2>
    <a class="right" href="/admin/tagmanager/tags">List tags</a>
    <div>
        {% if tags | length %}
            <table id="test" class="data fullwidth">
                <thead>
                    <th>Group</th>
                    <th>Title</th>
                    <th>Entries</th>
                </thead>
                <tbody>
                    {% for tag in tags %}
                    <tr>
                        <td>{{ tag.groupName }}</td>
                        <td><a href="/admin/tagmanager/{{ tag.groupHandle }}/{{ tag.id }}">{{ tag.title }}</a></td>
                        <td>
                            {% for entry in tag.entries %}
                                <p><a href="/admin/entries/{{ entry.entrySection }}/{{ entry.entryId }}">{{ entry.entryTitle }}</a></p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>It looks like there aren't any tags in use yet.</p>
        {% endif %}
    </div>
{% endset %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#test',
        noObjectsSelector: '#noresult',
        deleteAction: ''
    });
{% endset %}
